name: Swift Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  deploy_docs:
    runs-on: macos-latest
    steps:
      - uses: sersoft-gmbh/swifty-docs-action@v1
        with:
          module-version: 1.2.3
          output: docs

  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: swift build -v
      - name: Run tests
        run: set -o pipefail && swift test --enable-code-coverage 2>&1 | xcpretty --color
      - name: Collect coverage
        run: ./cov.sh
      - name: Publish to Codecov
        run: bash <(curl -s https://codecov.io/bash)
        env:
          CODECOV_TOKEN: 42973443-acaf-4757-9141-d791eda35675
